html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.visible {
  visibility: visible;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a:active,
a:focus {
  outline: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.users-list {
  min-height: 600px;
}
.user {
  width: 11.417%;
  height: 165px;
  float: left;
  margin-right: 1%;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
}
.user:nth-child(8n) {
  margin-right: 0;
}
.user:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
.user__avatar {
  width: 100%;
}
.user__avatar-large {
  width: 180px;
  float: left;
  margin-right: 15px;
}
.user__name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  text-align: center;
  padding: 0 3% 7px;
  font-size: 14px;
  margin: 0;
  color: #232933;
}
.user__info {
  position: absolute;
  left: -9999px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: default;
  visibility: hidden;
}
.user__info.user__info--visible {
  position: fixed;
  visibility: visible;
  left: 0;
}
.user__content {
  position: relative;
  width: 500px;
  margin: 300px auto 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.user__description {
  width: 300px;
  float: right;
  cursor: default;
}
.user__description-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
  text-align: center;
}
.user__description p {
  margin: 0;
  margin-bottom: 3px;
}
.user__description p span {
  font-weight: bold;
}
.user__close {
  position: absolute;
  top: 10px;
  right: 13px;
  color: #6d6d6d;
  cursor: pointer;
}
.page-header {
  background-color: #2070b3;
  padding: 20px 0;
  border-bottom: 10px solid #14578e;
}
.page-header__logo {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 2px #14578e;
}
.sorting {
  padding: 15px 0;
  font-size: 14px;
  margin: 10px 0 20px;
  background-color: #d6e8f1;
  color: #32425c;
  border-top: 1px solid #8eb6ca;
  border-bottom: 1px solid #8eb6ca;
}
.sorting__select {
  width: 150px;
  margin-left: 5px;
  padding: 0 3px;
  cursor: pointer;
  color: #32425c;
  font-family: 'Oswald', sans-serif;
}
.sorting__select:active,
.sorting__select:focus {
  outline: none;
}
.sorting__text {
  margin-right: 7px;
}
.page-footer {
  background-color: #0a3e69;
  padding: 20px 0;
  margin-top: 35px;
}
.page-footer__logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.page-footer p {
  font-size: 14px;
  color: #fff;
}
