html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.container {
	width: 960px;
    margin: 0 auto;
	padding: 0 20px;
}
.visible {
    visibility: visible;
}



@import "variables.less";
@import "components/users.less";
@import "components/header.less";
@import "components/sorting.less";
@import "components/footer.less";
