ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    &:active,
    &:focus {
        outline: none;
    }
}
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}