.page-footer {
	background-color: #0a3e69;
	padding: 20px 0;
	margin-top: 35px;
	
	&__logo {
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
	}
	p {
		font-size: 14px;
		color: #fff;
	}
}