.page-header {
	background-color: #2070b3;
	padding: 20px 0;
	border-bottom: 10px solid #14578e;
	
	&__logo {
		font-size: 25px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
		text-shadow: 2px 2px 2px #14578e;
	}
}