.sorting {
	padding: 15px 0;
	font-size: 14px;
	margin: 10px 0 20px;
	background-color: #d6e8f1;
	color: #32425c;
	border-top: 1px solid #8eb6ca;
	border-bottom: 1px solid #8eb6ca;
	
	&__select {
		width: 150px;
		margin-left: 5px;
		padding: 0 3px;
		cursor: pointer;
		color: #32425c;
		font-family: 'Oswald', sans-serif;
		
		&:active,
		&:focus {
			outline: none;
		}
	}
	&__label {
		
	}
	&__text {
		margin-right: 7px;
	}
}