.users-list {
	min-height: 600px;
}
.user {
	width: 11.417%;
	height: 165px;
	float: left;
	margin-right: 1%;
	margin-bottom: 20px;
	border: 1px solid #bcbcbc;
	cursor: pointer;
	
	&:nth-child(8n) {
		margin-right: 0;
	}
	&:hover {
		box-shadow: 3px 3px 3px rgba(0,0,0, 0.3);
		transition: 0.4s;
	}
	&__avatar {
		width: 100%;
		
		&-large {
			width: 180px;
			float: left;
			margin-right: 15px;
		}
	}
	&__name {
		display: flex;
  		justify-content: center;
  		align-items: center;
		height: 43px;
		text-align: center;
		padding: 0 3% 7px;
		font-size: 14px;
		margin: 0;
		color: #232933;
	}
	&__info {
		position: absolute;
		left: -9999px;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, 0.7);
		cursor: default;
		visibility: hidden;
		
		&.user__info--visible {
			position: fixed;
			visibility: visible;
			left: 0;
		}
	}
	&__content {
		position: relative;
		width: 500px;
		margin: 300px auto 0;
		padding: 20px;
		background-color: #fff;
		border-radius: 20px;
	}
	&__description {
		width: 300px;
		float: right;
		cursor: default;
		
		&-name {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 7px;
			text-align: center;
		}
		p {
			margin: 0;
			margin-bottom: 3px;
			
			span {
				font-weight: bold;
			}
		}
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 13px;
		color: #6d6d6d;
		cursor: pointer;
	}
}
